@using TaskMVC1.Helpers;

@{
    ViewBag.Title = "Анкета";
}
@Styles.Render("~/Content/show")
<div id="info" class="container-fluid">
    <div>
        <p><b>Имя:</b> @ViewBag.Name </p>
    </div>
    <div>
        <p><b>Возраст:</b> @ViewBag.Age </p>
    </div>
    <div>
        <p><b>Модель:</b> @ViewBag.Model </p>
    </div>
    <div>
        <p><b>Комплектация:</b> @ViewBag.Complect </p>
    </div>
    @if ((ViewBag.Additional as string[]).Length > 0)
    {
        <div>
            <p>
                <b>
                    Дополнительно: 
                </b>
                    @Html.CreateList(ViewBag.Additional as string[], true)
</p>
        </div>
    }
</div>